<style type="text/css">
.articlebackground {
  background-image: url('/images/saturn.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0.3;
  overflow: hidden;
  z-index: -100;
}

@media (max-width: 768px) {
  .articlebackground {
    display: none;
  }
}
</style>
<div class="row">
  <div class="col-md-3 p-5" id="content-tab">
    <nav class="nav flex-column nav-pills" aria-orientation="vertical">
      <a class="nav-link" id="v-pills-home-tab" href="#aaaInfo">协会简介</a>
      <a class="nav-link" id="v-pills-profile-tab" href="#siteInfo">网站简介</a>
      <a class="nav-link" id="v-pills-messages-tab" href="#mediaInfo">社交媒体</a>
      <a class="nav-link" id="v-pills-settings-tab" href="#contactUs">联系我们</a>
    </nav>
  </div>
  <div class="articlebackground col-md-9 offset-md-3"></div>
  <div class="col-12 col-md-9" data-spy="scroll" data-target="#content-tab" data-offset="0" style="position: relative; height: 100vh; overflow: scroll">
    <article class="m-5" id="aaaInfo">
      <h2>中国科大学生天文爱好者协会简介</h2>
      <p>
        科大天文协会前身是工院的天文小组，但是一直没有发展起来，只是爱好者自己小规模进行天文观测活动。2004年，随着爱好者和观测次数的增加，有了成立天文协会的知识技术基础。2004年的两大天象（5月5日月全食、6月8日金星凌日）以及5月科技开放周天体物理中心开放实验室（天文台）开始使用，使准天文协会积累了一些组织活动的经验。
      </p>
      <p>
        2004年3月30日，天文协会正式挂牌成立了，属于学校科技类社团，名义上属于安徽省天文学会。同年5月29日召开第一次会员大会。新生的天文协会遇到的困难还是比较多的，依靠各位骨干的努力工作得以维持。随着组织活动的增多以及新会员的崛起，目前协会已经脱离了成立之初的困顿，已经初具规模，并且必将会把活动组织得越来越好。
      </p>
      <p>
        目前协会拥有许多装备：254mmDOB式反射镜一台，25*102双筒镜1台，102mm折射镜一台，150mm马卡式折反镜一台，还有一些会员拥有70、50mm双筒和小型折射、反射式望远镜。目前的活动分为校内和校外，校内依靠天文台，组织对月亮、太阳、大行星的观测以及天文科普活动，校外进行户外深空天体和流星雨、彗星的观测活动，并且在提高观测的科学目的、无线电观测流星、天文摄影等方面也正在积极探索。
      </p>
      <p>
        天文协会是学校天文爱好者相互交流学习的舞台，也是学校天文爱好者面向校内师生以及社会大众的科普宣传的舞台，在这里你可以学到许多天文知识，认识全天星座，收揽许许多多深空天体，浪漫地细数流星，看国际空间站划过夜空……也可以展示你的社会活动能力，领导能力，演讲能力，为提高全民科学素养贡献力量。
      </p>
    </article>
    <article class="m-5" id="siteInfo">
      <h2>网站简介</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>
    </article>
    <article class="m-5" id="mediaInfo">
      <h2>社交媒体</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>
    </article>
    <article class="m-5" id="contactUs">
      <h2>联系我们</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>
    </article>
  </div>
</div>
