<div class="row no-gutter">
  <div class="col-md-6 order-md-2">
    <img src="/images/saturn.png" class="img-fluid">
  </div>
  <div class="col-md-6 order-md-1 text-center text-md-left p-md-5">
    <h1><span style="color: #336699">U</span>niversity of <span style="color: #336699">S</span>cience and <span
        style="color: #336699">T</span>echnology of <span style="color: #336699">C</span>hina</h1>
    <h2><span style="color: #333399">A</span>ssociation of <span style="color: #333399">A</span>mateur <span
        style="color: #333399">A</span>stronomers</h2>
    <div>
      <p>
        中国科学技术大学学生天文爱好者协会创立于2004年3月30日，隶属于安徽省天文学会，由中国科学技术大学校团委和社团管理指导委员会管理和指导工作，致力于向全校师生和社会各界提供天文科普工作。
      </p>
      <p>
        天文爱好者协会是学校天文爱好者相互交流学习的舞台，也是学校天文爱好者面向校内师生以及社会大众的科普宣传的舞台，在这里你可以学到许多天文知识，认识全天星座，收揽许许多多深空天体，浪漫地细数流星，看国际空间站划过夜空……也可以展示你的社会活动能力，领导能力，演讲能力，为提高全民科学素养贡献力量。
      </p>
      <a class="btn btn-lg btn-outline-primary" href="/about">关于我们</a>
      <a class="btn btn-lg btn-outline-info" href="/">开始探索</a>
    </div>
  </div>
</div>
<div class="row px-md-4 py-4">
  <div class="col-md-12">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/images/andromeda.png" alt="Andromeda">
        <div class="card-img-overlay">
          <h3 class="card-title text-white" style="margin-top: 50%">近期动态</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/images/doubleCluster.png" alt="DoubleCluster">
        <div class="card-img-overlay">
          <h3 class="card-title text-white" style="margin-top: 50%">天象预报</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/images/M42.png" alt="M42">
        <div class="card-img-overlay">
          <h3 class="card-title text-white" style="margin-top: 50%">科大天气</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>